@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Oleo+Script&family=Open+Sans&display=swap');
$small: 700px;
$medium: 1000px;
$large: 1200px;


.miniCard {
	all: unset;
	cursor: pointer;

	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
	margin: 1em 2em 0em; // top; right and left; bottom 
	display: flex;
	align-self: center;
	text-align: center;
	justify-content: center;
	align-items: center;
	filter: brightness(90%);
	transition: 0.4s;
	border-radius: 0.7em;


	// <= small
	@media screen and (max-width: $small) {
		width: 70vw;

		.cardTitleBar {
			font-size: 1.2em;
		}
	}

	// small to large
	@media screen and (min-width: $small) and (max-width: $large) {
		width: 30vw;

		.cardTitleBar {
			font-size: 1.2em;
		}
	}

	// >= large
	@media screen and (min-width: $large) {
		width: 16vw;
	}

	height: min-content;
	width: min-content;
	aspect-ratio: 255 / 42;
}


.miniCard:hover {
	filter: brightness(100%);
}