$small: 700px;
$medium: 1000px;
$large: 1200px;

.box {
	all: unset;
	cursor: pointer;

	width: 4em;
	height: 4em;
	background-color: #485BFF;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	z-index: 11;
}

// .flip {
// 	display: none;
// 	transform: rotate(-180deg);
// }


.navArrow {
	-moz-transition: transform 1s;
	-webkit-transition: transform 1s;
	transition: transform 1s;
}
.navArrow[data-open="true"] {
 	transform: rotate(90deg);
}

.line {
	margin: 5% 0% 5%;
	display: flex;
	height: 10%;
	width: 70%;
	border-radius: 1em;
	background-color: #CED3FF;
}

.navbarContainer {
	padding-top: 4em;
	transition: all 0.4s;
}

.navbarContainer[id=""] {
	// display: none;
	margin: 0;
	display: flex;
	position: absolute;
	flex-direction: column;
	width: 0vw;
	margin: 0;
	min-height: 100vh;
	max-height: fit-content;
	background-color: #485BFF;
	z-index: 10;
}

.navbarContainer[id="expanded"] {
	// <= small
	@media screen and (max-width: $small){
		width: 100vw;
	}
	// medium to large
	@media screen and (min-width: $small) and (max-width: $large) {
		width: 50vw;
	}
	// >= large
	@media screen and (min-width: $large){
		width: 30vw;
	}

}

.navbarContainer[id="expanded"] {
	margin: 0;
	display: flex;
	position: absolute;
	flex-direction: column;
	margin: 0;
	height: max-content;
	background-color: #485BFF;
	z-index: 10;
	min-height: 100vh;
	height:min-content;
}	

.navFolder {
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.navFolder {
	// height: min-content;
	max-height: 500px;
	display: flex;
	color: white;
	flex-direction: column;
	p {
		font-size: 1.5em;
		span {
			writing-mode: vertical-lr;
			cursor: pointer;
		}
	}
	// padding-bottom: 7vh;
	padding-left: 2vw;
	margin-left: 2vw;
	transition: max-height 0.25s ease-in;
}

.navItems {
	display: flex;
	color: white;
	height: min-content;
	flex-direction: column;
	p {
		font-size: 1.5em;
	}
	padding-left: 2vw;
	margin-left: 2vw;
}