@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Oleo+Script&family=Open+Sans&display=swap');
$small: 700px;
$medium: 1000px;
$large: 1200px;

.container {
	display: flex;
	flex-direction: row;
}



// .cards {
//     display: flex;
//     flex-direction: row;
//     width: 100%;
//     min-height: 100%;
	
//     justify-content: center;
//     align-self: center;
//     justify-self: center;
//     flex-wrap: wrap;
// 	background-color: #CCF0FF;
// 	align-items: center;
// 	justify-content: space-evenly;
// 	// <= small
// 	@media screen and (max-width: $small){
// 		padding: 0em 0em 0em;
// 	}
// 	// medium to large
// 	@media screen and (min-width: $small) and (max-width: $large) {
// 		padding: 0em 0em 0em;
// 	}
// 	// >= large
// 	@media screen and (min-width: $large){
// 		padding: 0em 10em 0em;
// 	}
// }

// .miniCards {
//     display: flex;
//     flex-direction: row;
//     width: 100%;
//     height: 100%;
//     justify-content: center;
//     align-self: center;
//     justify-self: center;
// 	margin: 0.5em 0em 0.5em;
// 	align-items: center;
// 	justify-content: space-evenly;

// 	@media screen and (max-width: $small){
//     	flex-wrap: wrap;
// 		padding: 0em 0em 0em;
// 	}
// 	// medium to large
// 	@media screen and (min-width: $small) and (max-width: $large) {
// 		padding: 0em 0em 0em;
// 	}
// 	// >= large
// 	@media screen and (min-width: $large){
// 		padding: 0em 10em 0em;
// 	}
// }


.main {
	margin: 0;
	padding: 0;
	height: 100%;
	min-height: 100vh;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	background-color: white;
	background-position: 50% 100%;
	background-size: cover;
	background-repeat: repeat-y;
	overflow-x: hidden;
	min-width: 100%;
	// font-family: 'Open Sans', sans-serif;
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
  
	h1, h2 {
	  font-family: 'Oleo Script', cursive;
  
	  // font-family: 'Oleo Script', cursive;
  
  
	  color: rgb(0, 0, 0);
	  font-weight: 300;
	  justify-self: flex-start;
	  // font-family: 'Patrick Hand', cursive;
	  // font-family: 'Poppins', sans-serif;
	}
	h1 {
	//   font-size: 5em;
	  margin: 0.1em;
	  a {
		color: #3385FF;
	  }
	}
	@media screen and (max-width: $large) {
		h1 {
			font-size: 4em;
		}
	}
	h2 {
	  font-size: 2em;
		margin-bottom: 0.5em;
		margin-top: 0em;
	  justify-self: flex-start;
	}
}

.chapter {
	background-color: hsl(200, 100%, 90%);
	min-height: fit-content;
	width: 100vw;
	padding: 0em;
	margin: 0em;
}

.chapterTitle {
	background-color: #B2E8FF;
	width: fit-content;
	padding: 0.5em 1.2em 0.5em;
	margin: 0em 0.5em 0em 0em;
}

.chapterHeadingContainer {
	display: flex;
	flex-direction: row;
}

.subChapterTitle {
	font-size: 1.4em;
	margin: 1em 0em 0.5em;
	margin-right: 1em;
}

.subChapterTitleContainer {
	display: flex;
}

.subChapter {
	padding: 0em 2em 0em;
}

.video {
	transition-duration: 0.4s;
	margin: 1em;
	width: fit-content;
	padding: 0.5em;
	border-radius: 1em;
	font-size: 1.2em;
}

.video:hover {
	font-size: 1.3em;
	filter:hue-rotate(20deg)
}

.videoItemContainer {
	display: flex;
	flex-direction: row;
}

.videoButton {
	display: flex;
	justify-content: center;
	align-content: center;
	width: 2em;
	height: 2em;
	align-self: center;
	margin: 0em 0.2em 0em;
	// border-width: 0;
	-webkit-box-shadow: 13px 12px 65px 4px rgba(0,0,0,0.06);
	-moz-box-shadow: 13px 12px 65px 4px rgba(0,0,0,0.06);
	box-shadow: 13px 12px 65px 4px rgba(0,0,0,0.06);
	// border-radius: 0.4em;
	border-style:none;
	transition-duration: 0.4s;
	opacity: 0.5;
	// border: 0;
}

.videoButton:hover {
	// background-color: #fefefe;
	opacity: 1;
	
}

.videoEditButton {
	background-color: #94ec93;
}

.videoAddButton {
	background-color: #97b9f7
}

.videoDeleteButton {
	background-color: #ff9f9f;
}

.moveButtonsContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.moveUp, .moveDown{
	width: 2.5em;
	height: 1.5em;
	margin: 0.1em 1em 0.1em 1em; // top right bottom left
	background-color: #8ab3ff;
	border-style:none;
	transition-duration: 0.4s;
	opacity: 0.5;
}

.moveUp:hover, .moveDown:hover {
	opacity: 1;
}

// .arrowIcon {
// 	stroke-width: 5em;
// }

.modalForm {
	display: flex;
	position: fixed;
  z-index: 1; /* Sit on top */
  // padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	align-content: center;
	justify-content: center;
}

.formContent {
	display: flex;
	flex-direction: column;
	// height: fit-content;
	// width: fit-content;
	min-width: 35em;
	// min-height: 50vh;
	justify-self: center;
	align-self: center;
	// align-items: center;
	justify-content: center;
  background-color: #fefefe;
  // padding: 20px;
	padding: 3.5em 4em 3.5em;
  // border: 1px solid #8888;
}

.formLabel, .formField, .formSubmitButton {
	display: flex;
}

.formLabel {
	font-size: 1.2em;
}

.formTitle {
	font-size: 1.5em;
	align-self: center;
	margin: 0;

}

.formField {
	margin: 0.5em 0em 2em;
	// min-height: 3em;
	border-radius: 0.4em;
	border: 1px solid #9da093;
	font-size: medium;
	padding: 0.5em;
}

.formField[type=text]:focus {
  // border: 3px solid #3385FF;
	outline: none;
}

.formSubmitButton, .formCancelButton {
	flex-grow: 1;
	margin: 1em 1.5em 0em;
	height: 3em;
}

.formSubmitButton {
	// margin-top: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fefefe;
	background-color: #3385FF;
	border-radius: 0.4em;
	border: none;
}

.formCancelButton {
	// margin-top: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fefefe;
	background-color: rgb(239, 74, 74);
	border-radius: 0.4em;
	border: none;
}

.formButtonRow {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 0 10% 0;
}